*{
    padding: 0px;
    margin: 0px;
}

.navigationheader{
    height: 100%;
    width: 100%;
    /* padding: 5px 0px; */
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */

}
.navbar{
    height: 100%;
    width: 100%;

    background-color: #a64dff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    /* border-radius: 5px; */
}
.navbar img{
    height: 48px;
    width: 48px;
}

/* .dirbar{
    height: 50%;
    width: 100%;

    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
} */