*{
    border: 0px;
    margin: 0px;
}

.contain{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.navbar_home{
    background-color: #a64dff;
    box-sizing: border-box;
    height: 8vh;
    width: 95vw; 
    padding: 0px 25px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100%;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.navbar_home > div:nth-child(1n){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    
}
.navbar_home > div:nth-of-type(1){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 10px;
    /* background-color: white; */
    
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 25px;
}
.navbar_home > div:nth-of-type(1) img{
    height: 32px;
    width: 32px;
}
.navbar_home > div:nth-of-type(1) p{
    font-size: 1.25rem;
    font-weight: bolder;
}

.navbar_home > div:nth-of-type(4){
    /* background-color: white; */
    font-size: 18px;
    border: none;
    border-radius: 25px;
}
.linkto{
    background-color: white;
    height: 100%;
    width: 70%;
    border:none;
    border-radius: 25px;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar_home > div:nth-of-type(5){
    /* background-color: white; */
    font-size: 18px;
    border: none;
    border-radius: 25px;
}
/* .navbar:hover{
    background-color: #fff;
} */

.bodycontent{
    background-color: white;
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.overview{
    height: 40vh;
    width: 95vw;
    /* background-color: red; */
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: 100%;
    /* background: linear-gradient(red, green); */
}
.overview > p:nth-of-type(1){
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
    /* height: 50vh; */
}
.overview > img:nth-of-type(1){
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    /* height: 100%; */
    width: 100%;
}

.overview p{
    font-size: 5em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(45deg,#b71a1a, #9198e5 );
    /* color: red; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    
}
.details{
    position: relative;
    z-index: 1;
    height: 45vh;
    width: 95vw;
    /* background-color: red; */
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 0px;
    box-sizing: border-box;
    gap: 20px;
}

.card{
    height: 100%;
    width:250px;
    background-color: rgb(197, 176, 250);
    box-sizing: border-box;
    border: none;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}
.card img{
    width: 100%;
}
.card p{
    font-size: 20px;
}
.card:hover{
    background-color: white;
}

.footercontent{
    /* background-color: #beb9b9; */
    background-color: #b541f3;
    height: 7vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footercontent p{
    color: white;
}