*{
    padding: 0px;
    margin: 0px;
}

.maincontainer{
    height: 100%;
    width: 100%;
    /* padding: 0px 20px 5px; */
    box-sizing: border-box;
    
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* background-color: wheat; */
}

.dirbar{
    height: 100%;
    width: 100%;

    /* background-color: red; */
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0px 10px;
    /* border-radius: 5px; */
}
/* .dirbar p{
    margin-right: 10px;
} */

.underdir{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: none;
    box-sizing: border-box;
    /* padding-top: 2.5px; */
    /* background-color: red; */
}

.maincontainer .underdir .sidebar{
    /* margin-right: 5px; */
    height: 100%;
    width: 20%;
    
    border: none;
    /* border-radius: 5px; */
    /* background-color: rgb(76, 137, 250); */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* overflow-y: scroll; */
}
/* .underdir .sidebar .dataside{
    background-color: #fff;
} */
.underdir .sidebar .topside{
    height: 10%;
    width: 100%;
    padding: 0px 5px;
    /* background-color: #e6ffe6; */
    background-color: #d9b3ff;
    /* background-color: red; */
    border: none;
    /* border-top-left-radius: 5px; */
    /* border-top-right-radius: 5px; */
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    box-sizing: border-box;
}
.underdir .sidebar .topside .topsideimg{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.underdir .sidebar .topside .topsideimg img{
    height: 80%;
    width: 80%;
    /* background-color: red; */
}



.underdir .mainsection{
    height: 100%;
    width: 80%;

    border: none;
    border-radius: 5px;
    /* background-color: rgb(76, 137, 250); */
    box-sizing: border-box;
    
    
    
    
    
    /* row-gap: 10px; */

    /* overflow-y: scroll; */
    
}
.underdir .mainsection .mainsectiondata{
    height: 90%;
    box-sizing: border-box;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green; */
}
 .mainsectiondatachild{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: repeat();
    /* place-items: center; */
    /* align-items:center; */
    justify-content:start;
    /* background-color: red; */
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
}
.underdir .mainsection .topdataside{
    display: flex;
    /* justify-content: end; */
    justify-content: center;
    align-items: center;
    /* background-color: #e6ffe6; */
    background-color:#d9b3ff;
    /* background-color: red; */
    height: 10%;
    border: none;
    /* border-top-right-radius: 5px; */
    /* border-top-left-radius: 5px; */
    /* border-radius: 5px; */
}
.underdir .mainsection .topdataside img{
    height: 80%;
    /* width: 80%; */
}

.sidebar .dataside{
    /* background-color: #f2f2f2; */
    background-color:lightsteelblue;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    
    height: 90%;
    overflow-x: visible;
    overflow-y: scroll;
    
    padding: 0px 5px;
}