*{
    padding: 0px;
    margin: 0px;
}

.maincontainer{
    height: 100%;
    width: 100%;
    /* padding: 0px 20px 5px; */
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: wheat; */
}

.dirbar{
    height: 10%;
    width: 100%;

    /* background-color: red; */
    display: flex;
    justify-content: left;
    align-items: center;
    /* border-radius: 5px; */
}
.dirbar p{
    margin-right: 10px;
}

.underdir{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
    box-sizing: border-box;
    padding-top: 2.5px;
    /* background-color: red; */
}

.underdir .sidebar{
    margin-right: 5px;
    height: 100%;
    width: 20%;
    
    border: none;
    border-radius: 5px;
    background-color: rgb(76, 137, 250);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* overflow-y: scroll; */
}
.underdir .sidebar .topside{
    height: 10%;
    width: 100%;
    padding: 0px 5px;
    /* background-color: #f457fcb6; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.underdir .sidebar .topside .topsideimg{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.underdir .sidebar .topside .topsideimg img{
    height: 80%;
    width: 80%;
    /* background-color: red; */
}



.underdir .mainsection{
    height: 100%;
    width: 80%;

    border: none;
    border-radius: 5px;
    /* background-color: rgb(76, 137, 250); */
    box-sizing: border-box;
    
    
    
    
    
    /* row-gap: 10px; */

    /* overflow-y: scroll; */
    
}
.underdir .mainsection .mainsectiondata{
    height: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green; */
}
 .mainsectiondatachild{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: repeat();
    /* place-items: center; */
    /* align-items:center; */
    justify-content:start;
    /* background-color: red; */
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.underdir .mainsection .topdataside{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgb(76, 137, 250);
    height: 10%;
}
.underdir .mainsection .topdataside img{
    height: 80%;
    /* width: 80%; */
}

.sidebar .dataside{
    /* background-color: red; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    
    height: 90%;
    overflow-x: visible;
    overflow-y: scroll;
    
    padding: 0px 5px;
}