.container{
    /* background-color: #a64dff; */
    background: linear-gradient(135deg, #a64dff, violet);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}
.imgholder{
   /* background-color: white; */
   height: 35vh;
   box-sizing: border-box;
   padding: 5PX 0PX;
}

::-webkit-scrollbar{
    width: 20px;
}


::-webkit-scrollbar-track {
    background: transparent; 
  }
   

  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px; 
  }
  
 
  ::-webkit-scrollbar-thumb:hover {
    background: white; 
  }



.container .downloadholder{
  margin-left: 30PX;
    height: 40vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    /* top: 0%; */
    /* top: 20vh; */
    /* background-color: red; */
    overflow-y: scroll;
    /* margin: 0px 20px; */
    box-sizing: border-box;
}