*{
  padding: 0px;
  margin: 0px;
}

.headerlayout{
  height: 10vh;
  width: 100vw;

  padding: 0px 20px;
  box-sizing: border-box;
  /* background-color: rgb(249, 69, 219); */
}

.mainlayout{
  height: 80vh;
  width: 100vw;

  padding: 5px 20px;
  box-sizing: border-box;
  /* background-color: rgb(235, 102, 252); */
}

.footerlayout{
  height: 10vh;
  width: 100vw;
  /* background-color: rgb(235, 102, 252); */
}