*{
  padding: 0px;
  margin: 0px;
}

.headerlayout{
  height: 8vh;
  width: 100vw;

  padding: 0px 20px;
  box-sizing: border-box;
  /* background-color: rgb(249, 69, 219); */
}

.mainlayout{
  height: 85vh;
  width: 100vw;

  padding: 5px 20px;
  box-sizing: border-box;
  /* background-color: rgb(235, 102, 252); */
  /* background-color: red; */
}

.footerlayout{
  height: 7vh;
  width: 100vw;
  
  /* background-color: rgb(232, 85, 251); */
  padding: 0px 20px;
  box-sizing: border-box;
  
}